@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);

* {
	box-sizing: border-box;
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	width: 100vw;
	background-image: url("struckaxiom_@2X.png");
}

a {
	text-decoration: none;
	color: inherit;
}

#nav { 
	width: 40px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #151515;
	overflow: hidden;
	border-right: 5px solid #ffff66;

	ul {
		margin: 0;
		padding: 0;
		width: 200px;
		list-style: none;
	}

	li {
		padding: 20px 0;
		cursor: pointer;
		a {
			color: #ccc;
		}

	    -webkit-transition: background-color 700ms ease;
	    -moz-transition: background-color 700ms ease;
	    -o-transition: background-color 700ms ease;
	    -ms-transition: background-color 700ms ease;
	    transition: background-color 700ms ease;
		
		&:hover {
			background-color: #ffffaa;
			a {
				color: #222;
			}
		}
	}

	a {
		font-size: 14px;
		text-decoration: none;

		-webkit-transition: color 700ms ease;
	    -moz-transition: color 700ms ease;
	    -o-transition: color 700ms ease;
	    -ms-transition: color 700ms ease;
	    transition: color 700ms ease;

		span {
			font-size: 20px;
			margin: 0 20px 0 10px;
		}
	}
}

#mobilenavhead {
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 101;
	background: #151515;
	overflow: hidden;
}

#mobilenav {
	display: none;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background: #151515;

	ul {
		margin: 0;
		padding: 0;
		width: 200px;
		list-style: none;
	}

	li {
		padding: 20px 0;
		cursor: pointer;
		a {
			color: #ccc;
		}

	    -webkit-transition: background-color 700ms ease;
	    -moz-transition: background-color 700ms ease;
	    -o-transition: background-color 700ms ease;
	    -ms-transition: background-color 700ms ease;
	    transition: background-color 700ms ease;
		
		&:hover {
			background-color: #ffffaa;
			a {
				color: #222;
			}
		}
	}

	a {
		font-size: 14px;
		text-decoration: none;

		-webkit-transition: color 700ms ease;
	    -moz-transition: color 700ms ease;
	    -o-transition: color 700ms ease;
	    -ms-transition: color 700ms ease;
	    transition: color 700ms ease;

		span {
			font-size: 20px;
			margin: 0 20px 0 10px;
		}
	}
}

/* text styles */

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

#name {
	font-size: 400px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 900;
	text-transform: uppercase;
}

#lastname {
	font-size: 100px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 900;
	text-transform: uppercase;
}

h3 {
	font-weight: 400;
	text-transform: uppercase;
}

/* sections */

section {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#cover {
	flex-direction: column;
	padding: 0 0 15% 0;
}

#quicklink {
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 5%;
	color: #ddd;

	#options {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;

		.section-nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 10% 25% 20% 25%;
			color: #ddd;
		}

		svg {
			fill: #ffffaa;
			-webkit-transition: fill 700ms ease;
		    -moz-transition: fill 700ms ease;
		    -o-transition: fill 700ms ease;
		    -ms-transition: fill 700ms ease;
		    transition: fill 700ms ease;

			&:hover {
				fill: #ffff66;
			}
		}
	}
}

#whoami {
	height: 90vh;
}

/* elements */

.section-nav {
	margin: 0 10%;
}

/* mobile */

@media screen and (max-width: 400px) {
	#mobilenavhead {
		display: block;
	}
	#mobilenav {
		display: none;
	}
	#nav {
		display: none;
	}
}

